
 <div class="news-sharing-area d-flex justify-content-center align-items-center py-10 flex-wrap">
    <ul class="social-share-icon d-flex flex-wrap">
        <li>
            <a  class="bg-fb" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/Africa-Rebirth-102647825544384">{{> icons/facebook}}</a>
        </li>
        <li>
            <a class="bg-dimond-blue" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/Africa-Rebirth-102647825544384">{{> icons/twitter}}</a>
        </li>
        <li>
            <a class=" bg-blue" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.instagram.com/africarebirth/">{{> icons/linkedin}}</a>
        </li>
        <li>
            <a onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.instagram.com/africarebirth/" class="bg-light-red">{{> icons/instagram}}</a>
            
           
        </a>
        </li>
        
    </ul>
</div>
