<div class="social-corner">
                <ul class="social-icons">
                        <li>
                            <a onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/theafricanexponent">{{> icons/facebook}}</a>
                        </li>
                        <li>
                            <a onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://twitter.com/africanexponent">{{> icons/twitter}}</a>
                        </li>
                        <li>
                            <a  onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.linkedin.com/company/the-african-exponent/about/">{{> icons/linkedin}}</a>
                        </li>
                        <li>
                            <a onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.instagram.com/africanexponent/" class="bg-light-red">{{> icons/instagram}}</a>
                            
                        
                        </a>
                        </li>
                        
                    </ul>
           
        </div>