
    <div class="headlines">
        <div class="bg-clip-path">
            <h2 >{{t "Headlines"}}</h2>
        </div>
        <div class="gh-headlines-wrapper">
            <div class="" id="headlines">      
            </div>
        </div>
    </div>


